version: "3.9"

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=altenshop;Username=alten;Password=T9!rZb@82sKx#LpQe6vM
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16-alpine
    restart: always
    environment:
      - POSTGRES_DB=altenshop
      - POSTGRES_USER=alten
      - POSTGRES_PASSWORD=T9!rZb@82sKx#LpQe6vM
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U alten"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:
